<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Board</title>
    <!--
        TODO Block 1: Add xmlns:th="http://www.thymeleaf.org" to <html>
        TODO Block 1: Build the list with th:each, th:text, th:if, th:href
        TODO Block 2: Extend layout using th:replace="~{layout/base :: content}"
        TODO Block 3: Show flash successMessage with th:if
    -->
</head>
<body>
<h1>Task Board</h1>
<p>[ ... ]</p>
<a href="/tasks/new">Add New Task</a>
</body>
</html>